##  National Center for Immunization and Respiratory Diseases about National Immunizations in Children
"This week you will be retrieving and cleansing data from a survey generated by the National Center for Immunization and Respiratory Diseases about National Immunizations in Children. In completing this assignment, you will be able to combine topics discussed in several of our prior FTEs.

File needed to complete this assignment are located in the assign3_data folder:

NISPUF14_CODEBOOK.PDF
nispuf14.dat

Assignment Requirements:

Retrieve all of the data within nispuf14.dat and store it in a more accessible format
Accessible format can be any of the following:
csv file
json file
relational database
For this assignment, feel free to use a dataframe (python library Pandas) for intermediate steps.
Note: When submitting your assignment, please remember to turn in your Jupyter notebook, any input files that you used and all of your output files."

#### About the datasets:
We will work with 2 datasets this week: NISPUF14_CODEBOOK.PDF & nispuf14.dat (attached) from the National Center for Immunization and Respiratory Diseases about National Immunizations in Children.

We will need to read the .pdf file to be able to better understand the .dat file, as we will outline below.

NISPUF14_CODEBOOK.PDF is a PDF that contains a description of the format for the data in nispuf14.dat. In other words, the PDF tells you how to read the data in nispuf14.dat.

Why would we need a PDF to tell us how to read our data? Well, this data file is stored in a positional format. This means that both the value and relative position of each character provides meaning within the dataset.

In [1]:
## Setup importing packages we will need

#import PyPDF2 
from PyPDF2 import PdfFileReader, PdfFileWriter,PdfFileMerger

import pandas as pd
import numpy as np
import json
# import tabula library
import tabula

## Part 1 -- NISPUF14_CODEBOOK.pdf

In [2]:
# setting up filename pdf location
pdf_file = "NISPUF14_CODEBOOK.pdf"

#loading into pandas dataframe, pulling all pages
df1 = tabula.read_pdf(pdf_file, pages="all")

# to see dataframe. We will keep in Raw form due to extensive length. we will keep it in this form, as we will concatentate all dataframes into one table for better viewing below. 
df1

#TO CONVERT TO JSON format, make cell live and remove from raw to code
#we will leave as is for now...

tabula.read_pdf(pdf_file, pages="all", output_format="json")

Here we see the whole .pdf into one clean table. We will only need a fraction of this data, so we will clean it in the steps below to extract the data that is only needed/relevant to this assignment.

In [3]:
#concatenate the original df1 into a new dataframe and concat. version: df
df = pd.concat(df1)
df

,Variable Name,Position,Position.1,Section,Variable Label,CHILD HAS ADEQUATE,1,15059,60.5%,60.5%.1,...,HIB (MERCK) HM,2848 11.4%,19.5%,2848,18.9%,19.5%.1,P_UTDTP3,260,260.1,UTD (UP-TO-DATE) FLAG FOR PROVIDER 3+ DT-CONTAINING SHOTS BY
0,SEQNUMC,1.0,6.0,1.0,UNIQUE CHILD IDENTIFIER,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SEQNUMHH,7.0,11.0,1.0,UNIQUE HOUSEHOLD IDENTIFIER,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PDAT,12.0,12.0,1.0,CHILD HAS ADEQUATE PROVIDER DATA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PROVWT_D,13.0,31.0,1.0,FINAL DUAL-FRAME PROVIDER-PHASE WEIGHT (EXCLUDES,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,TERRITORIES),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,XVRCTY6,849.0,849.0,9.0,VARICELLA-CONTAINING VACCINATION #6 TYPE CODE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,XVRCTY7,850.0,850.0,9.0,VARICELLA-CONTAINING VACCINATION #7 TYPE CODE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,XVRCTY8,851.0,851.0,9.0,VARICELLA-CONTAINING VACCINATION #8 TYPE CODE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,XVRCTY9,852.0,852.0,9.0,VARICELLA-CONTAINING VACCINATION #9 TYPE CODE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,YEAR,93.0,96.0,1.0,YEAR OF INTERVIEW,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#checking info of the dataframe for reference
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5402 entries, 0 to 19
Columns: 141 entries, Variable Name to UTD (UP-TO-DATE) FLAG FOR PROVIDER 3+ DT-CONTAINING SHOTS BY
dtypes: float64(26), object(115)
memory usage: 5.9+ MB

In [5]:
# Fast check for any NaNs -- we see there are more than one... let's look below:
df.isnull().values.any()

True

In [6]:
#couting null values. We see MANY. Let's dig further with this data below.

null_vec = pd.isnull(df)
null_count = np.sum(null_vec)
null_count

Variable Name                                                   4513
Position                                                        4513
Position.1                                                      4513
Section                                                         4513
Variable Label                                                  4042
                                                                ...
19.5%.1                                                         5382
P_UTDTP3                                                        5370
260                                                             5370
260.1                                                           5370
UTD (UP-TO-DATE) FLAG FOR PROVIDER 3+ DT-CONTAINING SHOTS BY    5364
Length: 141, dtype: int64

We only need to see the data in Section 1 of the .pdf. SO, let's start to sort that out.

In [7]:
#using pivot table to seperate by section
st = df.pivot_table(index='Section')
st

           Position  Position.1
Section
1.0       39.846154   49.538462
2.0       98.000000   98.400000
3.0      143.327586  144.862069
4.0      179.200000  180.600000
5.0      184.500000  184.500000
6.0      186.000000  186.000000
7.0      188.000000  188.000000
8.0      232.438596  232.438596
9.0      595.218954  596.063725
10.0     859.000000  860.000000

In [8]:
#checking pivot table by index =variable label. We see this is a useful view.
stb = df.pivot_table(index='Variable Label')
stb

,Position,Position.1,Section
Variable Label,,,
"AGE CATEGORY OF CHILD (19-23, 24-29, 30-35 MO) (RECODE)",101.0,101.0,3.0
AGE IN DAYS OF PROV-REPTD (MUMPS/RUBELLA)-ONLY SHOT #1,436.0,438.0,9.0
AGE IN DAYS OF PROV-REPTD (MUMPS/RUBELLA)-ONLY SHOT #2,439.0,439.0,9.0
AGE IN DAYS OF PROV-REPTD (MUMPS/RUBELLA)-ONLY SHOT #3,440.0,440.0,9.0
AGE IN DAYS OF PROV-REPTD (MUMPS/RUBELLA)-ONLY SHOT #4,441.0,441.0,9.0
...,...,...,...
VARICELLA-CONTAINING VACCINATION #7 TYPE CODE,850.0,850.0,9.0
VARICELLA-CONTAINING VACCINATION #8 TYPE CODE,851.0,851.0,9.0
VARICELLA-CONTAINING VACCINATION #9 TYPE CODE,852.0,852.0,9.0
WAS CHILD EVER BREAST FED OR FED BREAST MILK?,131.0,132.0,3.0
YEAR OF INTERVIEW,93.0,96.0,1.0

In [9]:
#checking pivot table by index = variable name. We see this is a useful view.
stbp = df.pivot_table(index='Variable Name')
stbp

               Position  Position.1  Section
Variable Name
AGECPOXR           97.0        97.0      2.0
AGEGRP            101.0       101.0      3.0
BFENDFL06         126.0       126.0      3.0
BFFORMFL06        127.0       127.0      3.0
BF_ENDR06         102.0       109.0      3.0
...                 ...         ...      ...
XVRCTY6           849.0       849.0      9.0
XVRCTY7           850.0       850.0      9.0
XVRCTY8           851.0       851.0      9.0
XVRCTY9           852.0       852.0      9.0
YEAR               93.0        96.0      1.0

[461 rows x 3 columns]

In [10]:
# pivot table by columns section and variable name
xx = df.pivot_table(columns={'Section','Variable Name'})
# We run the head(10) to show only the ones in Section 1
xx.head(10)

          Section  Variable Name
Position  1.0      PDAT             12.0
                   PROVWT_D         13.0
                   PROVWT_D_TERR    32.0
                   RDDWT_D          51.0
                   RDDWT_D_TERR     70.0
                   SEQNUMC           1.0
                   SEQNUMHH          7.0
                   STRATUM          89.0
                   YEAR             93.0
          2.0      AGECPOXR         97.0
dtype: float64

These last 2 outputs show us the information we compacted from the .pdf to be able to better understand the .dat file.

In [11]:
# pivot table by columns = section, variable name, and position for an even better view
xx1 = df.pivot_table(columns={'Section','Variable Name', 'Position'})
# We run the head(10) to show only the ones in Section 1
xx1.head(10)

            Section  Variable Name  Position
Position.1  1.0      PDAT           12.0        12.0
                     PROVWT_D       13.0        31.0
                     PROVWT_D_TERR  32.0        50.0
                     RDDWT_D        51.0        69.0
                     RDDWT_D_TERR   70.0        88.0
                     SEQNUMC        1.0          6.0
                     SEQNUMHH       7.0         11.0
                     STRATUM        89.0        92.0
                     YEAR           93.0        96.0
            2.0      AGECPOXR       97.0        97.0
dtype: float64

In [12]:
# pivot table by columns = section, variable name, position, and variable name for the best view

xx1 = df.pivot_table(columns={'Section','Variable Name', 'Position', 'Variable Label'})

# We run the head(10) to show only the ones in Section 1. This is the most comprehensive view and allows us to move forawrd.
xx1.head(10)

            Section  Variable Name  Variable Label                                       Position
Position.1  1.0      PDAT           CHILD HAS ADEQUATE PROVIDER DATA                     12.0        12.0
                     PROVWT_D       FINAL DUAL-FRAME PROVIDER-PHASE WEIGHT (EXCLUDES     13.0        31.0
                     PROVWT_D_TERR  FINAL DUAL-FRAME PROVIDER-PHASE WEIGHT INCLUDING     32.0        50.0
                     RDDWT_D        FINAL DUAL-FRAME RDD-PHASE WEIGHT (EXCLUDES          51.0        69.0
                     RDDWT_D_TERR   FINAL DUAL-FRAME RDD-PHASE WEIGHT INCLUDING          70.0        88.0
                     SEQNUMC        UNIQUE CHILD IDENTIFIER                              1.0          6.0
                     SEQNUMHH       UNIQUE HOUSEHOLD IDENTIFIER                          7.0         11.0
                     STRATUM        STRATUM VARIABLE FOR DUAL-FRAME VARIANCE ESTIMATION  89.0        92.0
                     YEAR           YEAR OF INTERVIEW                                    93.0        96.0
            2.0      AGECPOXR       AGE IN MONTHS AT CHICKEN POX DISEASE (RECODE)        97.0        97.0
dtype: float64

We have compacted all relevant information on the .pdf file about section 1. We can now move onto part 2, working working with the .dat file.

## Part 2 -- 'nispuf14.dat' file

In [13]:
#loading nispuf14.dat file into a pandas dataframe, df1
df1 =pd.read_table('nispuf14.dat')

In [14]:
#checking out the new dataframe.
df1

      000011000012    .                  .               218.30024855484000 218.3002485548400010222014. 223365.2500152.1875182.6250..3 2 131 2 .4223.000000000000001142131299999912 12 222212..0..........................................................................................   .   .   .   .   .   ....   .   .   .   .   .   ....   .   .   .   ......   .   .   .   .   .  .  ...   .   .   .   .   .  .  ...   .   .  .  ...............  .........   .   .   .   .   .  .  ...   .   .   .   .  .  ....  .........  .  .   .  .  .....   .   .   ....... . . . . . .... . . . . . .... . . . ...... . . . . . . ... . . . . . . ... . . . ........................ . . . . . . ... . . . . . .... ......... . . . ...... . . .......                                                                                                                                     . . . . . . .
0      000021000021 806.84601169505000 806.8460116950...
1      000031000032    .                  .          ...
2      000041000041  63.44868567610260  63.4486856761...
3      000051000051  94.87263225744540  94.8726322574...
4      000052000051 152.27384456301200 152.2738445630...
...                                                  ...
24891  238771238772    .                  .          ...
24892  238781238782    .                  .          ...
24893  238791238792    .                  .          ...
24894  238801238801  21.91889835428250  21.9188983542...
24895  238811238811  27.16589416587590  27.1658941658...

[24896 rows x 1 columns]

We will onnly need to work with Section 1 info. ALso now that we decipher part 1, we now know the locations what lines part 1 falls on. Lines 0-96, SO se can just pull that and not work with the remaining data that is now irrelevant for analysis in this assignment.

In [15]:
#Pulling in the lines of Section 1 -- that we figured out in Part 1
df1.loc[0:97]

   000011000012    .                  .               218.30024855484000 218.3002485548400010222014. 223365.2500152.1875182.6250..3 2 131 2 .4223.000000000000001142131299999912 12 222212..0..........................................................................................   .   .   .   .   .   ....   .   .   .   .   .   ....   .   .   .   ......   .   .   .   .   .  .  ...   .   .   .   .   .  .  ...   .   .  .  ...............  .........   .   .   .   .   .  .  ...   .   .   .   .  .  ....  .........  .  .   .  .  .....   .   .   ....... . . . . . .... . . . . . .... . . . ...... . . . . . . ... . . . . . . ... . . . ........................ . . . . . . ... . . . . . .... ......... . . . ...... . . .......                                                                                                                                     . . . . . . .
0   000021000021 806.84601169505000 806.8460116950...
1   000031000032    .                  .          ...
2   000041000041  63.44868567610260  63.4486856761...
3   000051000051  94.87263225744540  94.8726322574...
4   000052000051 152.27384456301200 152.2738445630...
..                                                ...
93  000911000911 303.95468506565800 303.9546850656...
94  000921000922    .                  .          ...
95  0009310009311005.648105556120001005.6481055561...
96  000941000942    .                  .          ...
97  000951000951 169.93763595630100 169.9376359563...

[98 rows x 1 columns]

#### Alternative way to clean/view data. This way does not use pandas, and will place the data in a string file

In [16]:
# pulling in dataset into a string and opening in an infile, appending and stripping the lines
lines_list = []
files = ['nispuf14.dat']
for file in files:
    with open(file) as infile:
        for line in infile:
            if len(line) > 1:    # Blank lines at the end of files.
                lines_list.append(line.strip()) # strip() leaves empty blank lines -- skip these

In [17]:
#We see the same amount of lines as the original pandas df. looks like all data is here to see if we can clean this up.
len(lines_list)

24897

In [18]:
#replacing , with spaces
cleaned_lines = []
for line in lines_list:
    cleaned_lines.append(line.replace(',', ''))

In [19]:
#replacing . with spaces
cleaned_lines = []
for line in lines_list:
    cleaned_lines.append(line.replace('.', ''))

In [20]:
#Checkoing the data. It looks much more easy to read. 
cleaned_lines[-10:]

['238721238722                                      6049289021112770  604928902111277010632014 223                     6 3 222 1 12220500000000000003 521222 1 4 434 22 63634610                                                                                                                                                                                                                                                                                                                                                             ',
 '238731238732                                      9655543915219020  965554391521902010302014 2234870000121750088800006 1 133 1 12121124389617065022 921312 1 3 112 11 3030450                                                                                                                                                                                                                                                                                                                                                             ',
 '238741238741 36495013494059400 36495013494059400 24316587426189300 2431658742618930020732014 223                     7 1 242 1 22110500000000000003 61222  3 111 21 73733211131112000121411002030042000001110000000040404003003030101111111111111131111111111111111011  63 127 188 560       560                398 764         2  63 266            63 127 188 560        398           63 127 188 560         63 127 188          63 93 127     398       2 4 618  18     1325   0 2 8     2 4 618   13    2 4 618    2 4 6     2 3 4 13  08D3D304       FL             600860          HID3D3HI        30           74747474        08D3D3         RMRMRM        VO           2 1 1  2 2 2',
 '238751238751 13214316511240100 13214316511240100 24677196761330100 2467719676133010010182014 2221826250 91312518262503 1 131 2 42230000000000000011421311 1 2 212 12 18185131234412100202420022040043001101110000000040404003003030101111111111111131111111111111111111  61 125 188 557       396 426             396 739         0  61 125 277         61 125 188 459        396           61 125 188 396         61 125 277          61125 188     459       2 4 618  1314    1324   0 2 4 9    2 4 615   13    2 4 613    2 4 9     2 4 6 15  08080404       FNFN           60080860        HIHIHIHS        30           74747474        080821         RMRMRM        VO           1 2 2  2 2 2',
 '238761238761 22825768644392500 22825768644392500 11753308684833800 1175330868483380020062014 222                     3 1 211 2 2222133219561623382101322  2 212 21  6 64411131111300301420022040030030001110000000040404003020020101111111111111131111111111111111111  70 126 189 537       392 537 756          392 602         1  70 126 189         70 126 537           392           70 126 189 602         70 126 189          70126        392       2 4 617  121724   1219   0 2 4 6    2 417    12    2 4 619    2 4 6     2 4  12  08080804       FNFNFN         60080808        HMHMHM          30           74747474        080808         RGRG          VO           1   2 2 2 2',
 '238771238772                                     50327830948320800 5032783094832080020462014 221                     5 4 232 1 11120500000000000003 51322  3 112 22 4646 510                                                                                                                                                                                                                                                                                                                                                             ',
 '238781238782                                     14834276841124900 1483427684112490020292014 2223652500182625088800003 2 131 2 42230000000000000021321212  2 212 11 29293720                                                                                                                                                                                                                                                                                                                                                             ',
 '238791238792                                      7463170096114980  746317009611498020632014 2213956875 91312588800003 2 121 2 4223000000000000002131212  2 212 12 636346110                                                                                                                                                                                                                                                                                                                                                       1   2 2 2 2',
 '238801238801  2191889835428250  2191889835428250  2226043136519570  222604313651957010492014 2237305000182625088800004 1 142 2 42216931933626820221021322 1 1 112 12 4949351111110300004400001000030003200000000000000000002000000000000010101000030011000000000000000 195 245 322 518                         385                             218 279 385                                          260 322                                 6 81017        12           7 912                810            04040404                                      HSHSHS                                       2121                                      2   1 2 2 2',
 '238811238811  2716589416587590  2716589416587590  1164888255983980  116488825598398010122014 2226696250152187588800004 2 132 2 41230000000000000011421312 1 2 212 21 12121121133313400004420022030040004301110000000030303003000000101111111111111031011111110001111111  63 129 188 606       404 434             404 606         1  63 273            63 129 188 525        525           63 188 404            63 129 188                     525       2 4 619  1314    1319   0 2 9     2 4 617   17    2 613     2 4 6        17  04040404       FNFN           606060          HSHSHSHS        30           747474          212121                       VO           1   2 2 2 2']

This data is in a string, as mentioned earlier. With this information we eventually will be able to run this code and categorize the data of Section 1 into these defined categories that will be with correct lines, and will strip all .'s that makes the data difficult to read.

for  line in data:
    SEQNUMC = line[1:6].strip('.')
    SEQNUMHH = line[7:11].strip('.')
    PDAT = line[12:12].strip('.')             
    PROVWT_D = line[13:31].strip('.')        
    PROVWT_D_TERR = line[32:50].strip('.')
    RDDWT_D  = line[51:69].strip('.')        
    RDDWT_D_TERR  = line[70:88].strip('.')   
    STRATUM  = line[89:92].strip('.')        
    YEAR = line[93:96].strip('.')

## Storing all data within nispuf14.dat file, and storing it in a more accessible format

In [21]:
#making a new pandas dataframe called df6. We will use this to convert to json & csv. We are not using the cleaned version, as the directions ask for all data stored within the .dat file
df6 = pd.read_csv('nispuf14.dat')

#### converting to .csv

In [22]:
df6.to_csv('nispuf14.csv')

#### converting to .json

In [23]:
df6.to_json('nispuf14.json')

## Summary

In conclusion, we looked at the  retrieving and cleansing of data from a survey generated by the National Center for Immunization and Respiratory Diseases about National Immunizations in Children. We were successfully able to pull in the data from the NISPUF14_CODEBOOK.PDF file using pyPDF2 & tabula to place into a clean dataframe with tables form. We were able to clean the data to find only the data in Section 1, that was relevant to the .dat file. Once we cleaned the dataframe and ran pivot_table with column=column names, function to be able to isolate the information the was only needed in the nispuf14.dat file to understand it. After gaining insight of the data from the .pdf file, we succesfully loaded the .dat file and did some cleaning/cleansing on that dataset. It was a tough dataset to read, but with the work done from tabular & pivot_table of the .pdf file, we were able to understand that we only needed lines 0-97 for Section 1 info. We also learned the variable, varibale name, and line placement. We could then define them and place in their unique defined catelog to define in their own library if needed. We finally were successfuly able to retreive all data in the .dat file and store in a more acessible file, being .json &.csv (files attached).

 

References:

Acrobat, A. (2020). the International Organization for Standardization . In Adobe Acrobat. Retrieved from https://acrobat.adobe.com/us/en/acrobat/about-adobe-pdf.html.

 

greenvolunteers.org, . (n.d.). Main Features of PDF Format: Pros and Cons. In The World Guide and Database for Volunteer Work In Nature Conservation. Retrieved from https://www.greenvolunteers.org/main-features.html.

 

Judith, . (2017, March 29). PDF Alternatives – Other File Formats You Can Use. In PDF2go. Retrieved from https://blog.pdf2go.com/2017/03/29/pdf-alternatives-other-file-formats-you-can-use/.

 

Knowles, S. (2017, July 11). History of PDF: Creating the World's Most Popular File Format. In PDF Pro. Retrieved from https://www.pdfpro.co/blog/history-pdf.

 

Massart, R. (2015, April 13). 7 Big Benefits of Using PDF for Business. In Peernet. Retrieved from https://www.peernet.com/pdf-benefits-for-business/.